---
// Static meta refresh redirect to Discord
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=https://discord.gg/jZ6kkzADWS" />
    <title>Redirecting to Discord...</title>
  </head>
  <body>
    <p>Redirecting to <a href="https://discord.gg/jZ6kkzADWS">Discord</a>...</p>
  </body>
</html>
